
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>

<div>
    <h4>Reservation Details</h4>
    <hr />
    <div class="col-md-12">

        <p>Your Order Booked Successfully.Thank You For The Booking.</p>
        <p>Our Driver Will Contact You Soon.</p>
        <p>Have A Nice Day.</p>
    </div>
</div>
<hr />
